{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% include "head/css.html" %}
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    
</head>
{% if messages %}
    {{message}}
{% endif %}
<body class="bg-black"> 
   <div class="main flex h-[85vh] text-white p-2 overflow-y-hidden">
        <div class="left h-full flex  flex-col w-1/4 space-y-2 text-gray-300 ">
        <div class="links h-1/4 bg-[#121212] rounded-xl p-3 space-y-3">
            <div class="logo text-2xl font-bold">Spotify</div>
            <div class="links space-y-5">
                <a href="{% url "core:home" %}">
                    <div class="flex space-x-6 hover:text-white hover:font-bold hover:cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                            </svg>
                            <h3 class="">Home</h3>
                        </div>
                </a>

                <div id="searchIcon" class=" flex space-x-6 hover:text-white hover:font-bold hover:cursor-pointer">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                          </svg>
                        </a>
                        <h3 class="">Search</h3>
                </div>
                
            </div>
        </div>
        <div class="h-3/4 library rounded-xl p-3 space-y-4 bg-[#121212] ">
            <div class=" flex space-x-6 justify-between max-w-full  p-1 hover:shadow-black shadow-xl">
                <div class="flex">
                    <i><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 8.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v8.25A2.25 2.25 0 006 16.5h2.25m8.25-8.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-7.5A2.25 2.25 0 018.25 18v-1.5m8.25-8.25h-6a2.25 2.25 0 00-2.25 2.25v6" />
                    </svg>
                    </i>
                    <h3>Your Library</h3>
                </div>
                

                <div class="plus">
                    <a href="#" hx-post="{% url 'core:create_playlist' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class=" Favorate Songs bg-[#242424] rounded-md">
                <div class=" p-1 ">
                    <h2 class="font-bold text-base">Favorate Songs</h2>
                            <div class="hover:bg-[#484848] rounded-md p-2">
                                <a href="{% url 'core:favorites' %}" class="group">
                                    <div class="flex items-center flex-shrink flex-grow rounded-xl space-x-2">
                                        <div class="img bg-indigo-600 text-white w-12 h-12 rounded-md flex justify-center items-center p-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 group-hover:w-6 group-hover:h-6 transition-all delay-150">
                                                <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                                            </svg>
                                            
                                        </div>
                                        <div class="w-3/4 m-1">
                                            <h3 class="text-white font-medium">
                                                Liked Songs
                                            </h3>
                                            <div class=" text-gray-300 text-sm font-bold relative">
                                                <span id='favorate-el'  class=" bg-rose-500 rounded-full py-1 px-2 text-center  absolute  right-3 -top-6"
                                                    
                                                    hx-get= "{% url 'core:hx_menu_favorites' %}"
                                                    hx-trigger= "update-favs, load, from:body"
                                                    hx-swap = "innerHTML"
                                                    >
                                                    {% include "core/partials/menu_favorites.html" %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                
                            </div>
                            
                
                </div>

                <div class=" p-3">
                    <h2 class="font-bold text-base ">Create your First playlist</h2>
                    <p class="mb-4">Its easy to help you</p>
    
                    <div class="mb-3">
                        <a href="#" id="createPlaylistBtn" hx-post="{% url 'core:create_playlist' %}" class=" py-1 px-4 rounded-2xl bg-white text-black">Create Playlist</a>
                    </div>
    
                </div>
    
                

            </div>

        
            {% comment %} <div class="library library  p-2 h-">
                <nav>
                    <ul class="flex flex-wrap flex-grow-0  text-xs ">
                        <li class="p-2 hover:underline underline-offset-2 hover:text-white"><a href="">Legal</a></li>
                        <li class="p-2 hover:underline underline-offset-2 hover:text-white"><a href="">Privacy Center</a></li>
                        <li class="p-2 hover:underline underline-offset-2 hover:text-white"><a href="">Privacy Policy</a></li>
                        <li class="p-2 hover:underline underline-offset-2 hover:text-white"><a href="">Cookies</a></li>
                        <li class="p-2 hover:underline underline-offset-2 hover:text-white"><a href="">About Ads</a></li>
                        <li class="p-2 hover:underline underline-offset-2 hover:text-white"><a href="">Accessibility</a></li>
                    </ul>
                </nav>
                <div class="language mt-3 p-2 flex border border-white rounded-3xl w-32 space-x-2 hover:font-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-6 hover:text-white font-bold hover:shadow-2xl shadow-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                      </svg>
                      <a href="" class="hover:font-semibold hover:text-white">Language</a>
                </div>
                
            </div> {% endcomment %}
        </div>
        
    </div>
    <div class="right w-3/4 bg-[#121212] h-full  overflow-hidden  mx-2 rounded-xl">
        <div class="replacer h-full" id="replacer">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

   </div>
   <div class="player rounded-xl  bg-[#121212] w-full p-2 h-[15vh] border-t">

    <div

        hx-get= "{{song.get_hx_play_url}}"
        hx-trigger= "update-music-player"
        hx-swap = "innerHTML"
        >
        {% include "core/partials/hx_player.html" %} 
        
        
    </div>
    
    </div>

   </div>

    <script>
        /// setting csrf_token for htmx
        document.body.addEventListener("htmx:configRequest", (event)=>{
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
        })


        document.addEventListener('DOMContentLoaded', function () {
        const audioPlayer = document.getElementById('audio-player');

        document.body.addEventListener('click', function (event) {
            if (event.target.tagName === 'A' && event.target.hasAttribute('hx-get')) {
                event.preventDefault();
                const url = event.target.getAttribute('hx-get');
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        // Update the audio player with the new song
                        audioPlayer.src = data.audio_url;
                        audioPlayer.play();
                    });
            }
        });
    });


  
    </script>
</body>
</html>